<md-content class="md-padding" layout-xs="column" layout="row">
    <div flex-xs flex-gt-xs="100" layout="column">
        <md-card md-theme-watch>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{$ctrl.fullName}}</span>
                </md-card-title-text>
            </md-card-title>

            <md-card-content layout="row" layout-align="space-between">
        <div patient-icon-color color="{{$ctrl.iconColor}}" class="card-media patient-icon">
                        <span>{{$ctrl.initials}}</span>
                    </div>
                    <md-list flex>
                        <md-list-item>
                                <div flex-xs flex-gt-xs="100" layout="row">
                                        <div flex layout="row" flex-gt-xs="30" layout-align="left">
                                            <span class="no-select">Sex:</span>
                                        </div>
                                        <div flex layout="row" flex-gt-xs="70" layout-align="left">
                                            <span class="no-select">{{$ctrl.patient.sex}}</span>
                                        </div>
                                </div>
                                <div flex-xs flex-gt-xs="100" layout="row">
                                    <div flex layout="row" flex-gt-xs="30" layout-align="left">
                                        <span class="no-select">Birth data:</span>
                                    </div>
                                    <div flex layout="row" flex-gt-xs="70" layout-align="left">
                                        <span class="no-select">{{$ctrl.patient.birthData |  date:'MM.dd.yyyy'}}</span>
                                    </div>
                                </div>
                        </md-list-item>
                        <md-list-item>
                            <div flex-xs flex-gt-xs="100" layout="row">
                                    <div flex layout="row" flex-gt-xs="30" layout-align="left">
                                        <span class="no-select">Phone:</span>
                                    </div>
                                    <div flex layout="row" flex-gt-xs="70" layout-align="left">
                                        <span class="no-select">{{$ctrl.patient.phone}}</span>
                                    </div>
                            </div>
                            <div flex-xs flex-gt-xs="100" layout="row">
                                <div flex layout="row" flex-gt-xs="30" layout-align="left">
                                    <span class="no-select">Work phone:</span>
                                </div>
                                <div flex layout="row" flex-gt-xs="70" layout-align="left">
                                    <span class="no-select">{{$ctrl.patient.workPhone}}</span>
                                </div>
                            </div>
                        </md-list-item>
                        <md-list-item>
                                <div flex-xs flex-gt-xs="100" layout="row">
                                        <div flex layout="row" flex-gt-xs="30" layout-align="left">
                                          <span class="no-select">Email:</span>
                                        </div>
                                        <div flex layout="row" flex-gt-xs="70" layout-align="left">
                                          <span class="no-select">{{$ctrl.patient.email}}</span>
                                        </div>
                                </div>                            
                                <div flex-xs flex-gt-xs="100" layout="row">
                                        <div flex layout="row" flex-gt-xs="30" layout-align="left">
                                          <span class="no-select">Business:</span>
                                        </div>
                                        <div flex layout="row" flex-gt-xs="70" layout-align="left">
                                          <span class="no-select">{{$ctrl.patient.business}}</span>
                                        </div>
                                </div>
                        </md-list-item>
                        <md-list-item>
                                <div flex-xs flex-gt-xs="100" layout="row">
                                        <div flex layout="row" flex-gt-xs="30" layout-align="left">
                                          <span class="no-select">Zip:</span>
                                        </div>
                                        <div flex layout="row" flex-gt-xs="70" layout-align="left">
                                          <span class="no-select">{{$ctrl.patient.zip}}</span>
                                        </div>
                                </div>
                                <div flex-xs flex-gt-xs="100" layout="row">
                                    <div flex layout="row" flex-gt-xs="30" layout-align="left">
                                      <span class="no-select">City:</span>
                                    </div>
                                    <div flex layout="row" flex-gt-xs="70" layout-align="left">
                                      <span class="no-select">{{$ctrl.patient.city}}</span>
                                    </div>
                                </div>
                        </md-list-item>

                        <md-list-item>
                                <div flex-xs flex-gt-xs="100" layout="row">
                                        <div flex layout="row" flex-gt-xs="30" layout-align="left">
                                          <span class="no-select">Street:</span>
                                        </div>
                                        <div flex layout="row" flex-gt-xs="70" layout-align="left">
                                          <span class="no-select">{{$ctrl.patient.street}}</span>
                                        </div>
                                </div>                            
                                <div flex-xs flex-gt-xs="100" layout="row">
                                        <div flex layout="row" flex-gt-xs="30" layout-align="left">
                                          <span class="no-select">House:</span>
                                        </div>
                                        <div flex layout="row" flex-gt-xs="70" layout-align="left">
                                          <span class="no-select">{{$ctrl.patient.house}}</span>
                                        </div>
                                </div>
                        </md-list-item>
                    </md-list>
            </md-card-content>
            <patient-edit-component patient="$ctrl.patient" ></patient-edit-component>
            <widgets-wrapper-component selected-patient="$ctrl.patient"></widgets-wrapper-component>
        </md-card>    
    </div>
    
</md-content>


