
<div ng-cloak>
  <md-content>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab ng-repeat="tab in $ctrl.tabs" label="{{tab.tabName}}">
        <md-content class="md-padding">
          <h1 class="md-display-2 title">{{tab.tabName}}</h1>
            <div ng-if="tab.tabName === 'Info'">
       
              <patient-info-component patient="$ctrl.patient"></patient-info-component>
           
            </div>
            <div ng-if="tab.tabName === 'Meds'">
              <add-medication-component patient="$ctrl.patient"></add-medication-component>
              <medications-component patient="$ctrl.patient"></medications-component>
            </div>
            <div ng-if="tab.tabName === 'Diagnoses'">
              <diagnoses-component patient="$ctrl.patient"></diagnoses-component>
            </div>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>


