.header-wrapper {
    position: relative;
    display: inline;

    span{
        line-height:55px;
    }
    .app-name{
        margin-left:35px;
        
        color:#3f51b5;
        text-transform:uppercase;
    }
    .user-name {
        float:right;
    }
    .app-name {
        font-size: 27px;
    }
    button{
        float:right;
        margin-top:10px;
    
    }
    button.md-raised.md-button{
        margin-top:10px;
    }
}

main md-toolbar:not(.md-menu-toolbar) {
  background-color: #f3f3f3;
  color:#000;
  margin-bottom:30px;
}