
<div>
  <button type="button" class="md-primary" 
    ng-click="$ctrl.removeActiveMeds()">
    Remove
  </button>   
  <div ui-grid="$ctrl.gridOptions" 
    ui-grid ui-grid-edit ui-grid-row-edit 
    ui-grid-cellNav ui-grid-pinning class="grid">
  </div>
</div>
          
