<div class="wrapper descr-block">
  <h1 class="md-display-2">Welcome to
    <span>Patient Medical Card</span> !!! </h1>
    <div class="descr">Access your health information online with patient health portal Patient Medical Card. This online tool gives you
    the flexibility to access your health information and other resources on your time and between visits to the medical center.
    </div>
    <br>
    <div ng-hide="$ctrl.user">
    <h2 class="md-headline indigo-color">To have an access to Patient Medical Card, please log in.</h2>
  <md-button class="md-primary md-raised button-login" ng-click="$ctrl.showLogin($event)">
    LOG IN
  </md-button>
  </div>
</div>

<div class="form-wrapper">
  <div class="md-dialog-container" id="loginDialog">
    <md-dialog>
      <div layout="column" class="md-inline-form form">
        <h2 class="form-title">Login</h2>
        <md-content layout-padding class="form-content">
          <form name="userForm" ng-submit="$ctrl.login();">
            <div layout-gt-sm="row">
              <md-input-container flex-gt-sm>
                <label>Email</label>
                <input required 
                name="userEmail"
                ng-model="$ctrl.username" 
                 email-validation-directive 
                 required-validation-directive >
                <div ng-messages="userForm.userEmail.$error" ng-show="userForm.userEmail.$touched" multiple role="alert" multiple>
                  <div ng-message="whitespaces">Email should not be with whitespaces </div>
                  <div ng-message="email">Email must contain only digits,ponits and lowercase letters and @ sign</div>
                  <div ng-message="empty">Email should not be with whitespaces</div>
                </div>
              </md-input-container>
            </div>
            <div layout-gt-sm="row">
              <md-input-container flex-gt-sm>
                <label>Password</label>
                <input ng-model="$ctrl.password" 
                type="password" 
                name="userPassword"
                required 
                password-strength-directive >
                <div ng-messages="userForm.userPassword.$error" ng-show="userForm.userPassword.$touched" multiple role="alert" multiple>
                  <div ng-message="whitespaces">Password should not be with whitespaces </div>
                  <div ng-message="digit">Password must contain at least 1 digit, ponits and lowercase letters and @ sign</div>
                  <div ng-message="case">Password must contain lowercase and uppercase letters</div>
                  <div ng-message="special">Password must contain special symbols</div>
                  <div ng-message="length">Password must contain at least 8 symbols</div>
                  <div ng-message="empty">Password should not be empty</div>
                </div>
              </md-input-container>
            </div>
            <div layout-gt-sm="row">
              <span class="error">{{$ctrl.errorMessage}}</span>
            </div>
            <div layout-gt-xs="row">
              <div class="button">
                <md-button type="submit">
                  Submit
                </md-button>
              </div>
              <div class="button">
                <md-button class="md-raised md-primary" ng-click="$ctrl.toggleLogin(true)">
                  Cancel
                </md-button>
              </div>
            </div>
          </form>
        </md-content>
    </md-dialog>
    </div>
  </div>