.widget-tables {
  float: left;
  width: 300px;
  text-align: center;

  .grid {
    margin: 0 auto;
    width: 255px;
    height: 145px;
  }

  button {
    margin: 0 5px;
  }
}

.ui-grid-contents-wrapper {
  .ui-grid-header-cell, .ui-grid-cell-contents {
    white-space: normal;
    padding-bottom: 5px;
    overflow:  hidden;
    word-break: break-word;
  }
}

.blue { 
  color: blue;  
  background-color: white; 
}

